* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserat;
}

.navbar {
  background: #b1b1b1;
  padding: 15px 40px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}


/* About page specific layout */
.container {
  background-color: #ffbd59;
  padding: 40px;
  flex-direction: row;
  gap: 30px;
}

.box {
  background: #ff7a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.text-box {
  flex: 1;
  height: 250px;
  justify-content: center;
  text-align: center;
  margin: 30px;
}
