/* ===== GLOBAL ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.navbar {
  background: #b1b1b1;
  padding: 15px 40px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}
/* ===== 4 IMAGES SECTION ===== */
.image-section {
  background-color: #ffbd59;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns = 2x2 */
  gap: 30px;

  max-width: 1200px;
  margin: 0 auto;
}


.image-box {
  background-color: #ff751f;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}