* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserat;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px
}

/* Navbar */
.navbar {
  background: #b1b1b1;
  padding: 15px 40px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

/* Layout */
.container {
  background-color: #ffbd59;
  display: flex;
  padding: 40px;
  gap: 30px;

  max-width: 1200px;   /* controls how wide it can be */
  margin: 0 auto;      /* THIS centers it */
}

/* Left column */
.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Right column */
.right-column {
  flex: 1;
}

/* Boxes */
.box {
  background: #ff7a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.text-box {
  height: 250px;
  justify-content: center;
  text-align: center;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
}



