.container {
  background-color: #ffbd59;
  display: flex;
  padding: 40px;
  gap: 30px;

  max-width: 1200px;
  margin: 0 auto;
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-column {
  flex: 1;
}

.box {
  background: #ff7a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.text-box {
  height: 250px;
  justify-content: center;
  text-align: center;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
}


.fade-up,
.fade-right {
  opacity: 0;
}

.fade-up {
  animation: fadeUp 0.9s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-right {
  animation: fadeRight 1s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}