* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background-color: #ffbd59;
}
.navbar {
  background: #b1b1b1;
  padding: 15px 40px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}


.visit-container {
  background-color: #ffbd59;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.visit-box {
  background-color: #ff751f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #000;
  font-weight: 500;
}

.small-box {
  width: 60%;
  height: 80px;
}

.large-box {
  width: 80%;
  height: 300px;
}